<h1>Welcome to Gadgify!</h1>
<h3>Let's start by selecting your IPad for use!</h3>

<div class='row-fluid'>
  <div class='span12 centered'>
    <h2>Products Available</h2>
  </div>
</div>
<div class='row-fluid'>
  <div class='span5 offset1'>
    <div class="hero-unit">
      <h1>Ipad 4</h1>
      <p>Fourth Generation IPad by Apple</p>
      <p class='offset1'>
        <ul>
          <li>10" Retina display</li>
          <li>Apple App Store <span class="label label-info">Pre-loaded Apps</span></li>
          <li>Long lasting battery</li>
          <li>Do everything</li>
          <li>It's an Apple</li>
        </ul>
      </p>
      <p>
        <a class="btn btn-primary">
          Rent This
        </a>
      </p>
    </div>
  </div>

  <div class='span5'>
    <div class="hero-unit">
      <h1>Ipad Mini</h1>
      <p>First Generation IPad Mini 7" by Apple</p>
      <p class='offset1'>
        <ul>
          <li>7" High Definition Display</li>
          <li>Apple App Store <span class="label label-info">Pre-loaded Apps</span></li>
          <li>Fits in the palms of your hands</li>
          <li>Do everything anywhere</li>
          <li>Newest release product for Apple</li>
        </ul>
      </p>
      <p>
        <a class="btn btn-primary">
          Rent This
        </a>
      </p>
    </div>
  </div>
</div>

